.about-content-wrapper-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    max-width: 320px;
    align-items: center;
    margin: auto;
    padding: 0;
}

.about-item-container {
    margin: 25px 0;
    align-self: start;
}

.about-item-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-item-title-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-item-logo {
    height: 31px;
    width: 31px;
    margin: 20px;
    max-width: 100%;
}

.about-item-title-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-item-title-text {
    font-size: 20px;
    font-family: var(--title-text-font);
    font-weight: bold;
    color: var(--title-text-dark);;
}

.about-item-title-description-text {
    text-align:center;
    margin: 0 15px;
    line-height: normal;
    font-size: 15px;
    font-family: var(--title-text-font);
    color: var(--description-text-dark);
}

@media (min-width: 500px) {
    .about-content-wrapper-grid-container {
        grid-template-columns: repeat(3, 1fr); /* Встановити 3 колонки */
    }
}