@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*colors*/
  --title-text-light: rgb(255, 255, 255);
  --title-text-dark: #5933AA;
  --title-text-black: #2F2E2E;

  --description-text-dark: #605E5E;
  --background-button: rgb(133, 77, 255);
  --background-secondary: rgb(242, 247, 255);

  --background-footer: #001a4d;

  /*fonts*/
  --title-text-font: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}